.todoItem {
  font-size: 1.25rem;
}

.todoItem button {
  width: 35px;
  margin: 3px;
}

.todoItem-label {
  margin-left: 1.25rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.todoItem.done .todoItem-label {
  text-decoration: line-through;
}

.todoItem.important .todoItem-label {
  font-weight: bold;
  color: steelblue;
}